.menuList {
  ul {
    list-style: none;
    > li {
      list-style: none;
      span {
        min-height: 50px;
        &:hover {
          background-color: $background-d;
          transition: all 0.2s ease-in-out;
        }
      }

      &.level-1 {
        background-color: $background-l;
      }

      &.level-0 {
        border-bottom: 1px solid $background-d;
        span {
          &:hover {
            background-color: $background;
          }
        }
      }
      svg {
        cursor: grab;
        &.fill {
          path {
            fill: $font-l;
          }
        }
      }
    }
  }
}
