.table {
  width: 100%;
  border-collapse: collapse;
  .thead {
    tr {
      border-top: 1px solid $background-d;
      border-bottom: 1px solid $background-d;
      height: 40px;
    }
  }
  .tbody {
    tr {
      border-bottom: 1px solid $background;
      transition: all 0.1s ease-in-out;
      &:hover {
        background-color: $background;
      }
      td {
        padding: 2rem 1rem;
        height: 50px;
      }
    }
  }
}
