#loginPage {
  height: 100vh;
  form {
    padding: 2rem 4rem;
    background-color: $white;
    border-radius: 5px;
    min-width: 500px;
    .logoContainer {
      svg {
        height: 100px;
      }
    }
    @include md {
      min-width: 90%;
    }
  }
}
