.errorPopup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999999;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
  .content {
    position: absolute;
    width: 550px;
    min-height: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    border-radius: 4px;

    ul {
      li {
        list-style: none;
        color: $red;
      }
    }
  }
  &.popupShown {
    transform: translateY(0);
    transition: all 0.2s ease-in-out;

    .content {
      transition: all 0.3s ease-in-out;
      opacity: 1;
    }
  }
}
