html {
  font-size: 62.5%;
  overflow-x: hidden;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;

  @include sm {
    font-size: 50%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::-moz-selection {
  color: $white;
  background: $cl-p;
}

::selection {
  color: $white;
  background: $cl-p;
}

body {
  font-weight: 400;
  line-height: 1.7;
  color: $font;
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
  position: relative;
  background-color: $background;
  overflow-y: hidden;
  padding-bottom: 4rem;
}

main {
  margin-top: 110px;
  margin-left: 240px;
  min-height: calc(100vh - 110px);
  max-width: calc(100vw - 280px);
  background-color: $white;
  border-radius: 4px;
}

body.noScroll {
  overflow: hidden;
}

.clearfix {
  clear: both;
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

