.wrapper{
  .pagination{
    display: flex;
    li{
      margin-right: 1rem;
      font-size: 1.6rem;
      list-style: none;
      min-width: 27px;
      border: 1px solid $cl-p;
      text-align: center;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
      a{
        color: $cl-p;
        text-decoration: none;
        height: 100%;
        width: 100%;
        display: block;
        transition: all 0.1s ease-in-out;
      }
      &.active{
        background-color: $cl-p;
        a{
          color: $white;
        }
      }
      &:hover{
        background-color: $cl-p;
        a{
          color: $white;
        }
      }
    }

  }
}