/**Primary Color*/
$cl-p: #069447;
// Automatsko mijenjanje gore definisane boje
$cl-p-d: darken($cl-p, 10%);
$cl-p-l: lighten($cl-p, 10%);

/**Secondary Color*/
$cl-s: #0C5B85;
// Automatsko mijenjanje gore definisane boje

$cl-s-d: darken($cl-s, 10%);
$cl-s-l: lighten($cl-s, 10%);
/**Tertiary Color*/

$cl-t: #D17608;

// Automatsko mijenjanje gore definisane boje

$cl-t-d: darken($cl-t, 10%);
$cl-t-l: lighten($cl-t, 10%);

/**Util Colors**/

$gradientYellow: #ac8e35;
$gradientYellow-d: darken(#ac8e35, 10%);

$primaryGradient: linear-gradient(to bottom, $cl-p, $cl-s);
$secondaryGradient: linear-gradient(
  to right,
  $gradientYellow 10%,
  $cl-t,
  $gradientYellow 90%
);

$secondaryGradient-font: linear-gradient(to bottom, transparent 50%, white 50%),
  linear-gradient(to right, $gradientYellow 10%, $cl-t, $gradientYellow 90%);
$secondaryGradient-font-primary: linear-gradient(
      to right,
      transparent 50%,
      $cl-p 50%
    )
    50%,
  linear-gradient(to right, $gradientYellow 10%, $cl-t, $gradientYellow 90%);

$secondaryGradient-d: linear-gradient(
  to right,
  $gradientYellow-d 10%,
  $cl-t-d,
  $gradientYellow-d 90%
);

$red: #ff3d00;

$green: #00c963;

// Light Grey
$cl-lg-1: #eee;
$cl-lg-2: #ccc;
$cl-lg-3: #999;

// Medium Grey
$cl-mg-1: #777;
$cl-mg-2: #666;
$cl-mg-3: #555;

// Dark Grey
$cl-dg-1: #333;
$cl-dg-2: #222;
$cl-dg-3: #111;

$font: #434343;
$font-l: #7e7e7e;

$white: #fff;
$black: #000;

$background: #e8f6fd;
$background-l: lighten($background, 5%);
$background-d: darken($background, 10%);
