.addTeamModal {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba($black, 0.7);
  left: 0;
  top: 0;
  z-index: 99999999999999;
  transition: all 0.2s ease-in-out;
  transform: translateY(-100%);
  .addTeamContent {
    width: 800px;
    background-color: $white;
    border-radius: 4px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  &.sortItems{
    .sortItemsContent{
      height: 80vh;
      width: 800px;
      background-color: $white;
      border-radius: 4px;
      opacity: 0;
      transition: all 0.2s ease-in-out;
      position: relative;
      .sorting{
        height: calc(100% - 110px);
        overflow: auto;
        li{
          cursor: pointer;
        }
      }
      .left{
        color: $font!important;
      }
      .action{
        position: absolute;
        bottom: 0;
        height: 50px;
        background-color: $white;
        left: 15px;
        width: 100%;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        button{
          height: 35px;
        }
      }
    }
  }

  &.visible {
    transform: translateY(0);
    transition: all 0.2s ease-in-out;

    .addTeamContent, .sortItemsContent {
      transition: all 0.3s ease-in-out;
      opacity: 1;
    }
  }


}


.SortableHelper{
  z-index: 99999999999999999999999999;
}